<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell">
            <h2>Анализ по категориям</h2>
        </div>

        <div class="cell">
            <% @categories.each do |category| %>
                <p>Анализ категории <a href="categories/<%=category%>"><%= category %></a></p>
            <% end%>    
        </div>
    </div>
</div>